
    <script type="text/javascript"> _timePoints['firstScreen'] = new Date; </script>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../javascripts/speed.module.js"></script>


    <script type="text/javascript">
        var speedPageId = 198123;
        $(function(){
            //页面可交互时间点,由于本页面没有
            _timePoints['active'] = new Date;
        })

        $(window).load(function() {
            _timePoints['finish'] = new Date;
            Speed.report(speedPageId, _timePoints);
        });
    </script>
  </body>
</html>