<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="../admin/">查看报表 <span class="sr-only">(current)</span></a></li>

    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">新增页面</a></li>
        <li><a href="">管理业务</a></li>
        <li><a href="">权限设置</a></li>
        <li><a href="">接入指南</a></li>
    </ul>
</div>