<div class="col-sm-3 col-md-2 sidebar">
    <!--
    <ul class="nav nav-sidebar">
        <li class="active"><a href="../admin/">业务列表 <span class="sr-only">(current)</span></a></li>
    </ul>
    -->
    <ul class="nav nav-sidebar">
        <li><a href="./">统一测速数据</a></li>
        <li><a href="http://admin.web.xunlei.cn/speed2/admin/graph_speed_timemarks.html" target="_blank">时间点图表</a></li>
        <!--
        <li><a href="">自定义上报点</a></li>
        <li><a href="">资源测速</a></li>
        <li><a href="">浏览器分布</a></li>
        <li><a href="">地域分布</a></li>
        <li><a href="">运营商分布</a></li>
        <li><a href="">JS errors</a></li>
        <li><a href="">配置</a></li>
        -->
    </ul>

</div>